.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid white;

}
.navbar h1{
    font-size: 30px;
    color: var(--body_color);
}
.navbar .navbar_links{
    display: flex;
    align-items: center;
}
.navbar a{
    display: flex;
    align-items: center;
    padding: 0 20px;
    text-decoration: none;
    color: var(--body_color);
    font-size: 20px;
    font-weight: 500;
}